<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <style>
    body {
      background-color: #ccc;
    }
  </style>
</head>
<body>
  <div id="box"> <%= hello %> </div>
  <p id="info"></p>
  <script>
    fetch('http://127.0.0.1:3000/hongbao/money.do')
    .then(res => res.json())
    .then((data) => {
      document.querySelector('#info').textContent = JSON.stringify(data);
      console.log(data);
    });
  </script>
</body>
</html>